.footer {
  padding: 24px;

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }

  &__listitem {
    width: 100%;

    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint_smartphone) {
    .footer {
      &__list {
        gap: 10px;
      }
    }

    .footer p {
      margin: 0;
      padding: 0;
    }

}

@media screen and (min-width: $breakpoint_tablet) {
  .footer {
    &__list {
      flex-direction: row;
    }

    &__listitem {
      width: 33%;
      flex-grow: 1;
      text-align: left;
    }

  }
}

