$bg-color: #fff;
$bg-color-2: #f8f8f8;
$button-background-color-1: #FF3E79;
$button-background-color-2: #fff;
$button-border-color-1: #FF3E79;
$button-border-color-2: #EAEAEA;
$button-border-color-3: #F8F8F8;
$email-color: #1B1C21;
$phonenumber-color: #1B1C21;

$header-heading-color: #1B1C21;

$divider: #AEAEAE;
$button_fontsize_md: #1B1C21;

$breakpoint_smartphone: 319.9px;
$breakpoint_tablet: 767.9px;
$breakpoint_note: 1365.9px;
$breakpoint_pc: 1439.9px;

$breakpoint_smartphone_mx: 319px;
$breakpoint_tablet_mx: 767px;
$breakpoint_note_mx: 1365px;
$breakpoint_pc_mx: 1439px;

$modal_feedback_width: 440px;
$language: #1B1C21;
$language--checked: #7E7E82;
